/* 
    Document   : default
    Created on : 30.12.2010, 0:37:33
    Author     : Christoffer Niska
    Description:
        Defines the default WorkLog style.
*/

.date-field { width:140px; }

div.form .row { margin:10px 0; }
div.form label { margin:0 0 5px 0; }
div.form input { margin:0; outline:none !important; }
div.form input[type=text],
div.form input[type=password],
div.form textarea { 
	padding:3px; 
	border:1px solid lightGrey; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.14, rgb(255,255,255)),
		color-stop(0.5, rgb(250,250,250))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(255,255,255) 14%,
		rgb(250,250,250) 50%
	);
}
div.form select {
	min-width:160px;
}
div.form input {  }

/*
	Query UI style.
*/
.ui-widget { margin:0; font-size:11px; }

.ui-helper-hidden-accessible { clip:auto !important; }